@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: 'dark';
    --color-primary: #C9A84C;
    --color-primary-content: #0F1F2E;
    --color-secondary: #1E3448;
    --color-secondary-content: #F0F4F8;
    --color-accent: #C9A84C;
    --color-accent-content: #0F1F2E;
    --color-neutral: #1E3448;
    --color-neutral-content: #F0F4F8;
    --color-base-100: #0F1F2E;
    --color-base-200: #162636;
    --color-base-content: #F0F4F8;
}

@plugin "daisyui/theme" {
    name: 'light';
    --color-primary: #C9A84C;
    --color-primary-content: #0F1F2E;
    --color-secondary: #1E3448;
    --color-secondary-content: #F0F4F8;
    --color-accent: #C9A84C;
    --color-accent-content: #0F1F2E;
    --color-neutral: #0F1F2E;
    --color-neutral-content: #F0F4F8;
    --color-base-100: #F0F4F8;
    --color-base-200: #E2E8F0;
    --color-base-content: #0F1F2E;
}